@import 'variables';

.catalog {
  display: grid;
  grid-template-columns: repeat(1, $card-width);
  gap: 46px 48px;
  padding: 50px 40px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $card-width);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $card-width);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $card-width);
    padding-inline: 32px;
  }
}

.card {
  box-sizing: border-box;
  width: $card-width;
  height: $card-height;
  border: $card-border;
  border-radius: $card-border-radius;
  padding: $card-padding;
  background: #fff;
  position: relative;
  z-index: 0;
  transition: transform 300ms;

  &:hover {
    transform: scale(1.2);
    z-index: 1;
  }

  &:hover &__title {
    color: #34568b;
  }

  &__inner {
    display: block;
  }

  &__img,
  &__image {
    width: $card-image-width;
    height: $card-image-height;
    object-fit: contain;
    display: block;
    margin: 0 auto $spacing-large;
  }

  &__name,
  &__title {
    margin: 0 0 4px;
    line-height: 18px;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: $title-color;
    transition: color 300ms;
  }

  &__code {
    margin: 0 0 16px;
    line-height: 14px;
    font-size: $font-size-sm;
    color: $text-gray;
  }

  &__rating,
  &__review-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__prices,
  &__price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    line-height: 18px;
    font-size: $font-size-md;
    color: $text-gray;
  }

  &__price,
  &__price-value {
    line-height: 18px;
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
    color: $title-color;
  }

  &__reviews,
  &__review-count {
    line-height: 14px;
    font-size: $font-size-sm;
    color: $title-color;
  }
}
