@import 'variables';
@import 'card';
@import 'stars';
@import 'button';

:root {
  --blue: #00acdc;
}

html {
  font-size: 10px;
  line-height: 14px;
  color: $text-gray;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $main-font;
}

.header {
  background-color: $white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  height: 60px;
}

.nav {
  display: flex;
  width: 100%;
}

.header__logo {
  display: block;
  width: 40px;
  height: 40px;
}

.nav__link {
  text-decoration: none;
  color: $nav-link-color;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  height: 44px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: color 300ms;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  position: relative;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 37px;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
}

.nav__list {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav__item + .nav__item {
  margin-left: 24px;
}

.page {
  padding-top: 0;
}
